<footer>
    <div class="main-footer">
        <div class="footer-navegacion">
            <h4>NAVEGACION</h4>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                <li><a href="/anteojosSol">Anteojos para Sol</a></li>
                <li><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                <li><a href="/accesorios">Accesorios</a></li> 
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-contactenos">
            <h4>CONTACTENOS</h4>
            <ul>
                <li><a href="#"><i class="fa-solid fa-phone"></i>011-1234567</a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i>opticaRIFF@gmail.com</a></li>
                <li><a href="/images/banners/img-direccion.jpg" target="_blank"><i class="fa-solid fa-location-dot"></i>Av. Siempreviva 742</a></li>
            </ul>
        </div>
        <div class="footer-redesSociales">
            <h4>REDES SOCIALES</h4>
            <ul>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <h5>Copyright © 1999-2020 Optica RIFF S.R.L.</h5>
    </div>
</footer> 