<header>
    <div class="main-header">
        <div class="main-hamburguer">
            <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
            <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
            <p>Menú</p>
        </div>
        <div class="main-logo">
            <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
        </div>
        <div class="main-buscar-carrito">
            <p><a href="/users/register">Crear Cuenta</a>|<a href="/users/login">Iniciar Sesion</a></p>
            <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <!-- Hacer visible solo para administrador -->
            <a href="/create"><i class="fa-solid fa-box-archive"></i></a>            
        </div>
    </div>    
    <nav class="main-navbar" id="mainNavbar">
        <ul class="navbar">
            <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
            <li class="li-hover btn"><button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button></li>
            <li class="li-hover"><a href="/">Inicio</a></li>
            <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
            <li class="li-hover"><a href="/anteojosRecetados">Anteojos Recetados</a></li>
            <li class="li-hover"><a href="/anteojosSol">Anteojos para Sol</a></li>
            <li class="li-hover"><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
            <li class="li-hover"><a href="/accesorios">Accesorios</a></li> 
            <li class="li-hover"><a href="/contact">Contacto</a></li>
            <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></li>
            <li class="li-buscar">
                <form action="/" method="get">
                    <div class="div-form-buscar-productos">
                        <label>
                            <input name="buscar-productos" class="buscar-productos" value="" type="text" placeholder="Buscar productos..">
                            <button type="submit" class="form-submit"><i class='fa-solid fa-magnifying-glass'></i></a></button>
                        </label>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</header>