<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opctica RIFF</title>
    <link rel="stylesheet" href="<%= (typeof variant != undefined) ? variant : '/css/style.css' %>">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script> -->
    <script src="/js/fontAwesome.js"></script>
    <link rel="shortcut icon" href="/images/logos/favicon.jpg">
    <script src="/js/sweetalert.js"></script>
</head>