<header>
    <h1 class="form_title">Optica Riff</h1> 
    <div class="main-header">
        <div class="main-hamburguer">
            <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
            <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
            <p>Menú</p>
        </div>
        <div class="main-logo">
            <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
        </div>
        <div class="main-buscar-carrito">
            <!-- La lista de usuarios hacerla visible solo para administradores -->

            <!--  
                % if(!userLogged){ %> 
                -->

            <p><a href="/users/userList">Lista de Usuarios</a>|<a href="/users/register">Crear Cuenta</a>|<a href="/users/login">Iniciar Sesion</a></p>
           
            <!-- % }  else{ %>
                <p><a href="/users/profile/ %= userLogged.id %>"> %= userLogged.user %></a></p> 
            <% if(userLogged && userLogged.admin===true){ %> 
            <p><a href="/users/userList">Lista de Usuarios</a>  <% }else if (!userLogged) { %><a href="/users/register">Crear Cuenta</a>  <a href="/users/login">Iniciar Sesion</a></p>
           
            <% }  else{ %>
                <p><a href="/users/profile/ <%= userLogged.id %>"> <%= userLogged.user %> </a></p> 
                        
            <%  }    %> 

            <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <div></div>
            <!-- Hacer visible solo para administrador -->
            <% if(userLogged && userLogged.admin == true){ %>
                <a href="/products/create"><i class="fa-solid fa-box-archive"></i></a>         
            <% } %>        
           

        </div>
    </div>    
    <nav class="main-navbar" id="mainNavbar">
        <ul class="navbar">
            <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
            <li class="li-hover btn"><button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button></li>
            <li class="li-hover"><a href="/">Inicio</a></li>
            <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
            <li class="li-hover"><a href="/products/anteojosRecetados">Anteojos Recetados</a></li>
            <li class="li-hover"><a href="/products/anteojosSol">Anteojos para Sol</a></li>
            <li class="li-hover"><a href="/products/anteojosLentesContacto">Lentes de Contacto</a></li>
            <li class="li-hover"><a href="/products/accesorios">Accesorios</a></li> 
            <li class="li-hover"><a href="/contact">Contacto</a></li>
                <% if(!userLogged){ %>
                <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/users/register">Crear Cuenta</a>|<a href="/users/login">Iniciar Sesion</a></li>
            <% }  else{ %> 
                        
                <h2>mi perfil</h2>                        
            <%    }   %>

            <!-- Visualizar la lista de usuarios solo para administrador -->
            <li class="li-hover despliega"><a href="/users/userList">Lista de Usuarios</a></li>
            <li class="li-buscar">
                <form action="/" method="get">
                    <div class="div-form-buscar-productos">
                        <label>
                            <input name="buscar-productos" class="buscar-productos" value="" type="text" placeholder="Buscar productos..">
                            <button type="submit" class="form-submit"><i class='fa-solid fa-magnifying-glass'></i></a></button>
                        </label>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</header>