<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opctica RIFF</title>
    <link rel="stylesheet" href="/css/anteojosProduct.css">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logos/favicon.jpg">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-hamburguer">
                <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
                <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
                <p>Menú</p>
            </div>
            <div class="main-logo">
                <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
            </div>
            <div class="main-buscar-carrito">
                <p><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></p>
                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>    
        <nav class="main-navbar" id="mainNavbar">
            <ul class="navbar">
                <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
                <li class="li-hover btn"><button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button></li>
                <li class="li-hover"><a href="/">Inicio</a></li>
                <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
                <li class="li-hover"><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                <li class="li-hover"><a href="/anteojosSol">Anteojos para Sol</a></li>
                <li class="li-hover"><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                <li class="li-hover"><a href="/accesorios">Accesorios</a></li> 
                <li class="li-hover"><a href="/contact">Contacto</a></li>
                <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></li>
                <li class="li-buscar">
                    <form action="/" method="get">
                        <div class="div-form-buscar-productos">
                            <label>
                                <input name="buscar-productos" class="buscar-productos" value="" type="text" placeholder="Buscar productos..">
                                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                            </label>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="ruta-login">
            <a href="/">Inicio</a>/<p>Anteojos Recetados</p>
        </div>
        <div class="menu-desplegable">
            <form>
                <label for="ordenar">Ordenar por:</label>
                <select name="ordenar">
                    <option value="">Novedades</option>
                    <option value="">Menor Precio</option>
                    <option value="">Mayor Precio</option>
                </select>
            </form>
        </div>
        <section>
            <div class="main-section-div">
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados14.jpg" alt="Lentes Recetados 1">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 1</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados13.jpg" alt="Lentes Recetados 2">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 2</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados3.jpg" alt="Lentes Recetados 3">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 3</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados4.jpg" alt="Lentes Recetados 4">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 4</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados5.jpg" alt="Lentes Recetados 5">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 5</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados6.jpg" alt="Lentes Recetados 6">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 6</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados7.jpg" alt="Lentes Recetados 7">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 7</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados8.jpg" alt="Lentes Recetados 8">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 8</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados9.jpg" alt="Lentes Recetados 9">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 9</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados10.jpg" alt="Lentes Recetados 10">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento"></p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 10</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados11.jpg" alt="Lentes Recetados 11">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto"></p>
                            <p class="precio-con-descuento">$15.165</p>
                            <p class="descuento-producto"></p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 11</h3>
                        </div>
                    </div>
                </article>
                <article class="main-section-product">
                    <a href="/product">
                        <div class="main-section-img">
                            <img src="/images/productos/lentesRecetados/lentesRecetados12.jpg" alt="Lentes Recetados 12">
                        </div>
                    </a>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio-producto">89989</p>
                            <p class="precio-con-descuento">89</p>
                            <p class="descuento-producto">89</p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetados 12</h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="main-footer">
            <div class="footer-navegacion">
                <h4>NAVEGACION</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#ofertas">Ofertas</a></li>
                    <li><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                    <li><a href="/anteojosSol">Anteojos para Sol</a></li>
                    <li><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                    <li><a href="/accesorios">Accesorios</a></li> 
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-contactenos">
                <h4>CONTACTENOS</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone"></i>011-1234567</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i>opticaRIFF@gmail.com</a></li>
                    <li><a href="/images/banners/img-direccion.jpg" target="_blank"><i class="fa-solid fa-location-dot"></i>Av. Siempreviva 742</a></li>
                </ul>
            </div>
            <div class="footer-redesSociales">
                <h4>REDES SOCIALES</h4>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Optica RIFF S.R.L.</h5>
        </div>
    </footer> 
</body>
<script src="/js/function.js"></script>
</html>
