<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('./partials/head', {variant:'/css/contact.css'}) %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
 
    <!-- MAIN -->
    <main>
        <div class="form-controller">
            <div class="ruta-login">
                <a href="/">Inicio</a>/<p>Contacto</p>
            </div>
            <div class="container-form">
                <div class="container-img-contacto">
                    <img src="/images/banners/img-contacto.jpeg" alt="">
                </div>
                <div class="datos-contacto">
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-phone"></i>011-1234567</a></li>
                        <li><a href="#"><i class="fa-solid fa-envelope"></i>opticaRIFF@gmail.com</a></li>
                        <li><a href="/images/banners/img-direccion.jpg" target="_blank"><i class="fa-solid fa-location-dot"></i>Av. Siempreviva 742</a></li>
                        <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i>Siguenos en Instagram</a></li>
                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i>Siguenos Facebook</a></li>
                    </ul>
                </div>
                <form action="#" method="get" class="formulario">
                    <div class="div-input-text">
                        <i class="fa-solid fa-user"></i><input required id="name" class="input-text" name="name" type="text" placeholder="Nombre">  
                    </div>
                    <div class="div-input-email">
                        <i class="fa-solid fa-envelope"></i><input required id="email" class="input-email" name="email" type="text" placeholder="Email">  
                    </div>
                    <div class="div-input-phone">
                        <i class="fa-solid fa-phone"></i><input id="phone" class="input-phone" name="phone" type="tel" placeholder="Telefono (Optional)">  
                    </div>
                    <div class="div-input-textArea">
                        <textarea class="input-textArea" name="text-area" id="text-area" cols="30" rows="10" placeholder="Dejanos tu mensaje"></textarea>
                    </div>

                    <div class="div-btn-login">
                        <button id="btnLogin" class="btn-login" type="button">SEND</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
<script src="/js/function.js"></script>
</html>
