<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_home.css">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <title>Optica RIFF</title>
</head>
<body>
    <header>
        <h1>Optica RIFF</h1>
        <div class="main-header">
            <div class="main-hamburguer">
                <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
                <a href="#" class="hamburguer-buttom"><i class="fa-solid fa-bars"></i></a>
                <p>Menú</p>
            </div>
            <div class="main-logo">
                <a href="/"><img src="/images/Logo.png" alt="Optica RIFF"></a>
            </div>
            <div class="main-buscar-carrito">
                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>    
        <nav class="main-navbar">
            <ul class="navbar-left">
                <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
                <li><a href="#">links</a></li>
                <li><a href="#">links</a></li>
                <li><a href="#">links</a></li>
                <li><a href="#">links</a></li>
                <li><a href="#">links</a></li>
            </ul>
            <ul class="navbar-right">
                <li>
                    <form action="/" method="get">
                        <div class="buscar-productos">
                            <!--Input text para el buscador-->
                            <input class="buscar-productos" value="" type="text" placeholder="Buscar productos.."><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>