<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opctica RIFF</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logos/favicon.jpg">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-hamburguer">
                <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
                <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
                <p>Menú</p>
            </div>
            <div class="main-logo">
                <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
            </div>
            <div class="main-buscar-carrito">
                <p><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></p>
                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>    
        <nav class="main-navbar" id="mainNavbar">
            <ul class="navbar">
                <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
                <li class="li-hover btn"><button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button></li>
                <li class="li-hover"><a href="/">Inicio</a></li>
                <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
                <li class="li-hover"><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                <li class="li-hover"><a href="/anteojosSol">Anteojos para Sol</a></li>
                <li class="li-hover"><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                <li class="li-hover"><a href="/accesorios">Accesorios</a></li> 
                <li class="li-hover"><a href="/contact">Contacto</a></li>
                <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></li>
                <li class="li-buscar">
                    <form action="/" method="get">
                        <div class="div-form-buscar-productos">
                            <label>
                                <input name="buscar-productos" class="buscar-productos" value="" type="text" placeholder="Buscar productos..">
                                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                            </label>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="form">
          <div class="ruta-login">
            <a href="/">Inicio</a>/<p>Iniciar Sesion</p>
          </div>
          <div class="form_conteiner">
            <div class="form_group">
              <input required type="text" id="user" class="form_input" placeholder=" " />
              <label for="user" class="form_label">Usuario:</label>              
            </div>
            <div class="form_group">
              <input required type="password" id="password" class="form_input" placeholder=" "/>
              <label for="password" class="form_label">Contraseña:</label>
              <div class="checkboxPass">
                <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                <label for="checkPassword">
                    <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                    <i class="fa-solid fa-eye" id="eye"></i>
                </label>
              </div>              
              <div class="div_checkbox">
                <label for="true" class="form_checkbox">Recordar Usuario</label>
                <input type="checkbox" name="true" />
              </div>
            </div>
            <div>
              <input type="submit" class="form_submit" value="Entrar" />
              <div class="div_button">
                <button class="button_g">
                  <a href="https://accounts.google.com/signin/v2/identifier?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa-brands fa-google"></i></a>
                </button>
                <button class="button_i">
                  <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </button>
              </div>
            </div>
            <p class="form_paragraph">
              ¿Aún no tienes una cuenta?
              <a href="/register" class="form_link">Entra aquí</a>
            </p>
          </div>
        </form>
    </main>
    <footer>
        <div class="main-footer">
            <div class="footer-navegacion">
                <h4>NAVEGACION</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#ofertas">Ofertas</a></li>
                    <li><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                    <li><a href="/anteojosSol">Anteojos para Sol</a></li>
                    <li><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                    <li><a href="/accesorios">Accesorios</a></li> 
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-contactenos">
                <h4>CONTACTENOS</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone"></i>011-1234567</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i>opticaRIFF@gmail.com</a></li>
                    <li><a href="/images/banners/img-direccion.jpg" target="_blank"><i class="fa-solid fa-location-dot"></i>Av. Siempreviva 742</a></li>
                </ul>
            </div>
            <div class="footer-redesSociales">
                <h4>REDES SOCIALES</h4>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Optica RIFF S.R.L.</h5>
        </div>
    </footer> 
</body>
<script src="/js/function.js"></script>
</html>
