<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {variant:'/css/notFound.css'}) %>

<body>
    <img src="/images/notFoundpage.jpg" alt="NOT FOUND">
    <a href="/">Ir a la pagina principal</a>
</body>
</html>