<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {variant:'/css/notFound.css'}) %>

<body>
    <img src="/images/notFoundpage.jpg" alt="NOT FOUND">
    <div class="container-btn">
        <a href="/"><button type="button">Inicio</button></a>
        <a href="/anteojosRecetados"><button type="button">Anteojos Recetados</button></a>
        <a href="/anteojosSol"><button type="button">Anteojos para</button></a>
        <a href="/anteojosLentesContacto"><button type="button">Lentes de Contacto</button></a>
        <a href="/accesorios"><button type="button">Accesorios</button></a>
        <a href="/contact"><button type="button">Contacto</button></a>
    </div>
</body>
</html>