<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {variant:'/css/notFound.css'}) %>

<body>
    <img src="/images/notFoundpage.jpg" alt="NOT FOUND">
    <div class="container-btn">
        <% let infoBotones = [{href: '/', textBtn: 'Inicio'},{href: '/products/anteojosRecetados', textBtn: 'Anteojos Recetados'},{href: '/products/anteojosSol', textBtn: 'Anteojos para Sol'},{href: '/products/anteojosLentesContacto', textBtn: 'Lentes de Contacto'},{href: '/products/accesorios', textBtn: 'Accesorios'},{href: '/contact', textBtn: 'Contacto'}] %> 
        <% for( let i = 0; i < infoBotones.length; i++ ) { %>
            <a href="<%= infoBotones[i].href %> "><p><%= infoBotones[i].textBtn %></p></a>    
        <% } %>
    </div>
</body>
</html>