<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optica RIFF</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logos/favicon.jpg">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-hamburguer">
                <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
                <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
                <p>Menú</p>
            </div>
            <div class="main-logo">
                <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
            </div>
            <div class="main-buscar-carrito">
                <p><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></p>
                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>    
        <nav class="main-navbar" id="mainNavbar">
            <ul class="navbar">
                <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
                <li class="li-hover btn"><button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button></li>
                <li class="li-hover"><a href="/">Inicio</a></li>
                <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
                <li class="li-hover"><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                <li class="li-hover"><a href="/anteojosSol">Anteojos para Sol</a></li>
                <li class="li-hover"><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                <li class="li-hover"><a href="/accesorios">Accesorios</a></li> 
                <li class="li-hover"><a href="/contact">Contacto</a></li>
                <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></li>
                <li class="li-buscar">
                    <form action="/" method="get">
                        <div class="div-form-buscar-productos">
                            <label>
                                <input name="buscar-productos" class="buscar-productos" value="" type="text" placeholder="Buscar productos..">
                                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                            </label>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="ruta-cart">
                <a href="/">Inicio</a>/<p>Carrito de compras</p>
            </div>
            <section>
                <div class="productos">
                    <div class="container-imagenes"><img src="/images/productos/lentesRecetados/lentesRecetados1.jpg"></div>
                    <div class="container-info">
                        <div class="info-top">
                            <p>Descripcion del producto</p>
                            <button type="button">x</button>
                        </div>
                        <div class="info-bottom">
                            <div class="btn-controller-cant">
                                <div class="btn-controller-cant-unid">
                                    <button type="button">-</button>
                                    <input type="text" placeholder="1" readonly>
                                    <button type="button">+</button>
                                </div>
                                <p>$ 10.850,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productos">
                    <div class="container-imagenes"><img src="/images/productos/lentesRecetados/lentesRecetados10.jpg"></div>
                    <div class="container-info">
                        <div class="info-top">
                            <p>Descripcion del producto</p>
                            <button type="button">x</button>
                        </div>
                        <div class="info-bottom">
                            <div class="btn-controller-cant">
                                <div class="btn-controller-cant-unid">
                                    <button type="button">-</button>
                                    <input type="text" placeholder="1" readonly>
                                    <button type="button">+</button>
                                </div>
                                <p>$ 21.500,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productos">
                    <div class="container-imagenes"><img src="/images/productos/lentesRecetados/lentesRecetados11.jpg"></div>
                    <div class="container-info">
                        <div class="info-top">
                            <p>Descripcion del producto</p>
                            <button type="button">x</button>
                        </div>
                        <div class="info-bottom">
                            <div class="btn-controller-cant">
                                <div class="btn-controller-cant-unid">
                                    <button type="button">-</button>
                                    <input type="text" placeholder="1" readonly>
                                    <button type="button">+</button>
                                </div>
                                <p>$ 13.475,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="subtotal-productos">
                <h5>
                    <span>Subtotal:</span>
                    <strong>$ 45.825,00</strong>
                </h5>
            </div>
            <div class="medios-envio">
                <div class="cp-calcular-envio">
                    <div class="codigo-postal">
                        <input type="text" placeholder="Enter Zip Code">
                    </div>
                    <div class="calcular-envio">
                        <button class="btn-calcular">CALCULATE</button>
                    </div>
                </div>
                <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">I don't know my zip code</a>
                <div class="calculo-del-envio">
                    <!--Aca apareceria el costo del envio, el cual se sumaria al subtotal.-->
                </div>
            </div>
            <div class="total-productos-envio">
                <h5>
                    <span>Total:</span>
                    <strong>$ 45.825,00</strong>
                </h5>
            </div>
            <div class="formulario">
                <div class="btn-agregarProductos-finalizar">
                    <button id="btn-agregarProductos" class="btn-agregarProductos" type="button">ADD MORE PRODUCTS</button>
                    <button id="btn-finalizar" class="btn-finalizar" type="button">FINALIZE</i></button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="main-footer">
            <div class="footer-navegacion">
                <h4>NAVEGACION</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                    <li><a href="/anteojosSol">Anteojos para Sol</a></li>
                    <li><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                    <li><a href="/accesorios">Accesorios</a></li> 
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-contactenos">
                <h4>CONTACTENOS</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone"></i>011-1234567</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i>opticaRIFF@gmail.com</a></li>
                    <li><a href="/images/banners/img-direccion.jpg" target="_blank"><i class="fa-solid fa-location-dot"></i>Av. Siempreviva 742</a></li>
                </ul>
            </div>
            <div class="footer-redesSociales">
                <h4>REDES SOCIALES</h4>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Optica RIFF S.R.L.</h5>
        </div>
    </footer> 
</body>
<script src="/js/function.js"></script>
</html>