<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opctica RIFF</title>
    <link rel="stylesheet" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logos/favicon.jpg">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-hamburguer">
                <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
                <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
                <p>Menú</p>
            </div>
            <div class="main-logo">
                <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
            </div>
            <div class="main-buscar-carrito">
                <p><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></p>
                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>    
        <nav class="main-navbar" id="mainNavbar">
            <ul class="navbar">
                <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
                <li class="li-hover btn"><button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button></li>
                <li class="li-hover"><a href="/">Inicio</a></li>
                <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
                <li class="li-hover"><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                <li class="li-hover"><a href="/anteojosSol">Anteojos para Sol</a></li>
                <li class="li-hover"><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                <li class="li-hover"><a href="/accesorios">Accesorios</a></li> 
                <li class="li-hover"><a href="/contact">Contacto</a></li>
                <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/register">Crear Cuenta</a>|<a href="/login">Iniciar Sesion</a></li>
                <li class="li-buscar">
                    <form action="/" method="get">
                        <div class="div-form-buscar-productos">
                            <label>
                                <input name="buscar-productos" class="buscar-productos" value="" type="text" placeholder="Buscar productos..">
                                <a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                            </label>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <!-- <div class="ubicacion">
                <h4> Inicio / Anteojos Para Sol</h4>
            </div> -->
            <div class="ruta-login">
                <a href="/">Inicio</a>/<a href="/anteojosSol">Anteojos Para Sol</a>/<p>Anteojos Sol 1</p>
            </div>

            <div class ="produto-principal"> 
                <div class = "imagen-producto">
                    <img src="/images/productos/lentesSol/lentesSol1.jpg" alt="Lentes de Sol 1">
                </div>
                <div class="info-producto-principal">
                    <div class="info-producto">
                        <h2 class = "nombre-producto"> Lentes de Sol 1 </h2>
                        <h2 class="precio-producto"> $4.000  </h2>
                    </div>

                    <div class= "separador">
                        <div class= "cuotas"> 
                            <p> 6 CUOTAS SIN INTERÉS DE </p> <b> $666,66</b> 
                        </div>
                        <a class = "medios-de-pago" href="views/medios-de-pago"> VER MEDIOS DE PAGO</a>
                    </div>

                    <div class="cantidad">
                        <p> CANTIDAD</p>
                        <form class="formulario"action="/carrito" method="POST">
                            <input type="tel" name="cantidad">
                        </form>
                        </div>
                            <div class ="contenedor-compra"> 
                                <button class="boton-carrito"> <span> AGREGAR AL CARRITO <span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2 class="otros-productos"> Otros Productos </h2>
            <div class="main-section-div">
                <article class="main-section-product">
                    <div class="main-section-img">
                        <img src="/images/productos/lentesRecetados/lentesRecetados1.jpg" alt="Lentes Recetado 1">
                    </div>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <p class="precio-con-descuento">$4.062</p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetado 1</h3>
                        </div>
                    </div>
                </article>

                <article class="main-section-product">
                    <div class="main-section-img">
                        <img src="/images/productos/lentesRecetados/lentesRecetados2.jpg" alt="Lentes Recetado 2">
                    </div>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <p class="precio-con-descuento">$8.200</p>
                        </div>
                        <div class="section-h3">
                            <h3>Lentes Recetado 2</h3>
                        </div>
                    </div>
                </article>

                <article class="main-section-product">
                    <div class="main-section-img">
                        <img src="/images/productos/lentesSol/lentesSol2.jpg" alt="Lentes Sol 2">
                    </div>
                    <div class="main-section-info">
                        <div class="informacion-precio-descuento">
                            <p class="precio-con-descuento">$21.175</p>
                        </div>
                        <div class="section-h3">                       
                            <h3><p> Lentes Sol 2</p><h3>
                        </div>
                    </div>
                </article>
        </section>
        
        <section> 
            <div class="ver-mas">
                <a class="link-home" href="/">Ver más</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="main-footer">
            <div class="footer-navegacion">
                <h4>NAVEGACION</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#ofertas">Ofertas</a></li>
                    <li><a href="/anteojosRecetados">Anteojos Recetados</a></li>
                    <li><a href="/anteojosSol">Anteojos para Sol</a></li>
                    <li><a href="/anteojosLentesContacto">Lentes de Contacto</a></li>
                    <li><a href="/accesorios">Accesorios</a></li> 
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-contactenos">
                <h4>CONTACTENOS</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone"></i>011-1234567</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i>opticaRIFF@gmail.com</a></li>
                    <li><a href="/images/banners/img-direccion.jpg" target="_blank"><i class="fa-solid fa-location-dot"></i>Av. Siempreviva 742</a></li>
                </ul>
            </div>
            <div class="footer-redesSociales">
                <h4>REDES SOCIALES</h4>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Optica RIFF S.R.L.</h5>
        </div>
    </footer>
</body>
<script src="/js/function.js"></script>
</html>