* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Vista Movile----------*/

body {
    font-family: 'Montserrat','Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #ADB2B5; 
    position: relative;
}

h1 {
    display: none;
}

/*----------Header----------*/

header {
    padding: 2vw;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.main-header {
    display: flex;
}

.main-hamburguer, .main-buscar-carrito {
    display: flex;
    width: 20%;
    height: 10vw;
    justify-content: end;
    flex-wrap: wrap;
    align-content: center;  
}

.main-hamburguer {
    font-size: 4vw;
}

.main-buscar-carrito{
    font-size: 2vw;
}

.main-hamburguer a, .main-buscar-carrito a{
    color: #000000;
    text-decoration: none;
}

.main-hamburguer p {
    font-size: 3vw;
    color: #ADB2B5;
    margin: 0.5vw;
}

.main-buscar-carrito a {
    margin-right: 2vw;
}

.main-logo {
    width: 50%;
    margin: auto;
    /* border: solid; */
}

.main-logo img {
    width: 100%;
}

.main-buscar-carrito p, .main-navbar .li-buscar {
    display: none!important;
}

.main-navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    z-index: 30;
}

.main-navbar ul {
    background-color: #FFFFFF;
}

.main-navbar .btn {
    display: flex;
    justify-content: flex-end;
}

.main-navbar li {
    list-style: none;
    margin: 10px;
    border-bottom: solid 1px lightgray;
    height: 30px;
}

.main-navbar a {
    text-decoration: none;
    color: #000000;
}

.main-navbar .btn-cerrar {
    background-color: white;
    border: none;
    font-weight: 900;
}

.main-navbar .despliega a {
    margin: 18px;
}

/*----------Main----------*/

main {
    padding-top: 14vw;
}

.main-carrousel {
    width: 100%;
    height: 72vw;
    max-width: 120em;
    /* padding: 2em; */
    /* background-color: lightblue; */
    overflow: hidden;
    margin: auto;
    position: relative;
}

.main-carrousel .container-img {
    width: 400%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 2em; */
    transition: all 1s ease;
    transform: translateX(0%);
}

.main-carrousel .img-movile-tablet {
    width: calc(100%/4);
    height: 100%;
    /* background-color: lime; */
    /* border-radius: 10px; */
}

.main-carrousel .img-desktop {
    display: none;
}

.main-carrousel .puntos {
    width: 20%;
    /* background-color: red; */
    padding: 0.4em;
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1vw;
    left: 40%;
}
.main-carrousel .punto {
    list-style: none;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    background-color: #000000;
    margin: 0.2em;
}

.main-carrousel .punto.activo {
    background-color: #F77B5F;
}

/*------------------------*/

.container-info-desktop {
    display: none;
}

.secondary-carrousel {
    width: 100%;
    height: 30vw;
    max-width: 120em;
    /* padding: 2em; */
    /* background-color: lightblue; */
    overflow: hidden;
    margin: auto;
    position: relative;
}

.secondary-carrousel .container-info {
    width: 300%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 2em; */
    transition: all 1s ease;
    transform: translateX(0%);
}

.enviamos-tu-compra, .paga-como-quieras, .compra-con-seguridad {
    width: calc(100%/3);
    height: 95%;
    /* background-color: lime; */
    /* border-radius: 10px; */
    margin: 0.2em;
    text-align: center;
    background-color: #FFFFFF;
    padding: 5vw;
}

.secondary-carrousel .puntos1 {
    width: 20%;
    /* background-color: red; */
    padding: 0.4em;
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17vw;
    left: 40%;
}
.secondary-carrousel .punto1 {
    list-style: none;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    background-color: #000000;
    margin: 0.2em;
}

.secondary-carrousel .punto1.activo1 {
    background-color: #F77B5F;
}

.icon-truck {
    font-size: 4vw;
}

.copy-header h6 {
    font-size: 3vw;
}

.copy-header p {
    font-size: 2.5vw;
    color: #8F8F8F
}

/*------------------------*/

.seccion-imagen img {
    width: 100%;
}

/*------------------------*/

.main-section-div {
    display: flex;
    flex-wrap: wrap;
}

section h2 {
    font-size: 24px;
    margin: 0.5em;
    text-align: center;
    color: #000000;
}

section img {
    width: 100%;
    max-height: 100%;
}

.main-section-product {
    width: 50%;
    height: 70vw;
    background-color: white;
    padding-bottom: 10px;
    /* margin: 10px 0; */
    position: relative;
    border: solid 0.5px;
}

.main-section-img {
    height: 82%;
    display: flex;
    align-items: center;
}

.main-section-info {
    display: flex;
    border-top: #ADB2B5 solid 1px;
    padding-top: 1vw;
    margin: 0px 5px;
    flex-wrap: wrap;
}

.informacion-precio-descuento {
    display: flex;
    align-items: center;
    width: 100%;
}

.informacion-precio-descuento i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #ADB2B5;
    border: 1px solid #ADB2B5;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
}

section p {
    margin-left: 0.5em;
}

section .precio-producto {
    font-size: 14px;
    font-weight: bold;
    color: #8F8F8F;
    text-decoration: line-through;
}

section .precio-con-descuento {
    font-size: 18px;
    font-weight: bold;
}

.section-h3 h3 {
    font-size: 12px;
    font-weight: 300;
    margin-left: 0.5em;
}

section .descuento-producto {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #000000;
    opacity: 0.6;
}

/*----------Footer----------*/

footer {
    font-family: 'Roboto';
    background-color: #000000;
    color: #FFFFFF;
    margin: 2vw;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-footer {
    margin: 2vW;
}

.footer-navegacion {
    display: flex;
    flex-wrap: wrap;
}

footer h4 {
    width: 100%;
    padding: 5px 0px;
}

footer ul {
    padding: 10px;
}

footer li {
    padding: 5px 0px;
}

.footer-navegacion ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-navegacion li{
    width: 40%;
}

.footer-contactenos i {
    width: 30px;
}

.footer-redesSociales ul {
    display: flex;
}

.footer-redesSociales li {
    font-size: xx-large;
    margin-right: 15px;
}

.footer-redesSociales i {
    width: 100%;
}

footer h5 {
    display: flex;
    margin: 8px;
    text-align: left;
    justify-content: flex-start;
    color: #c3c6c8;
}

@media (min-width: 768px)  {

    /*----------Vista Tablet----------*/

    body {
        background-color: #FFFFFF;
    }

    main {
        width: 95%;
        margin: auto;
        padding: 14vw 2vw 2vw;
    }

    .main-carrousel {
        height: 35vw;
    }

    .main-carrousel .img-movile-tablet {
        display: none;
    }

    .main-carrousel .img-desktop {
        display: initial;
        width: calc(100%/4);
        height: 100%;
    }

    .main-carrousel .punto, .secondary-carrousel .punto1 {
        background-color: #8F8F8F;
    }
    
    .main-carrousel .punto.activo, .secondary-carrousel .punto1.activo1 {
        background-color: #000000;
    }

    .contenedor-imagenes {
        display: flex;
        justify-content: center;
    }

    .main-section-product {
        width: 33%;
        height: 45vw;
    }

    footer {
        margin: 0;
    }

    .main-footer {
        display: flex;
        justify-content: center;
        margin: 2vw 2vw 0 10vw;
    }

    .footer-navegacion, .footer-contactenos, .footer-redesSociales {
        margin: 0px 3vw;
        width: 30%;
    }

    .footer-contactenos {
        width: 40%;
        margin: 0px 3vw;
    }

    .main-footer ul {
        padding: 0;
    }

    footer h4 {
        width: 75%;
    }

    .footer-navegacion ul {
        flex-direction: column;
    }

    .footer-navegacion li {
        width: 100%;
    }

    .copyright {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1023px) {

    /*----------Vista Desktop----------*/

    /*----------Header----------*/

    header {
        padding: 0px 2vw;
    }

    main {
        padding-top: 9vw;
    }
    
    .main-hamburguer {
        display: none;
    }

    .main-header {
        justify-content: space-between;
    }

    .main-logo {
        width: 30%;
        margin-left: 0px;
    }

    .main-buscar-carrito .fa-magnifying-glass {
        display: none;
    }

    /*------------------------*/

    .main-navbar, .main-navbar li, .main-navbar a {
        all: unset;
    }

    .main-buscar-carrito p, .main-navbar .li-buscar {
        display: flex!important;
    }

    .main-navbar .btn, .main-navbar .despliega {
        display: none;
    }

    .main-navbar {
        display: flex!important;
        height: 4vw;
        position: relative;
        border: solid #000000;
    }
    
    .main-buscar-carrito p{
        display: initial;
        font-size: 1.3vw;
    }

    .main-buscar-carrito p a {
        margin-left: 2vw;
        text-decoration: none;
    }

    .main-buscar-carrito {
        width: 60%;
        height: 5vw;
        align-items: center;
    }

    .main-buscar-carrito i {
        font-size: 2.5vw;
        padding: 2vw 0px;
    }

    .main-navbar ul {
        list-style: none;
        display: flex;
        align-items: center;
        background-color: #000000;
        width: 100%;
        justify-content: space-between;
    }

    .main-navbar a {
        margin: 15px 5px;
        font-size: 1.3vw;
        color: #c3c6c8;
        text-decoration: none;
    }

    .main-navbar li {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 5px;
    }

    .main-navbar .li-hover:hover {
        border-top: #c3c6c8 solid;
        border-bottom: #c3c6c8 solid;
        cursor: pointer;
    }

    header form {
        height: 75%;
    }

    .div-form-buscar-productos {
        display: flex;
        background-color: white;
        border: solid #000000 2px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0px 10px;
    }

    .div-form-buscar-productos label {
        display: flex;
        align-items: center;
        width: 95%;
    }
    
    .div-form-buscar-productos i {
        position: absolute;
        right: 0.8vw;
        top: 1.2vh;
        color: lightgrey;
        font-size: 1.5vw;
    }

    .buscar-productos {
        border: none;
        width: 90%;
        height: 100%;
        outline: none;
    }

    .div-form-buscar-productos:focus-within {
        position: absolute;
        width: 45%;
        max-height: 3vw;
        /* top: 5px; */
        right: 5px;
    }

    .buscar-productos:focus {
        border: none;
    }

    /*----------Main----------*/

    .main-carrousel {
        height: 25vw;
    }

    /*------------------------*/

    .secondary-carrousel {
        display: none;
    }
    
    .container-info-desktop {
        display: flex;
        margin: 2vw;
    }

    .enviamos-tu-compra, .paga-como-quieras {
        border-right: solid 1px;
    }
    .enviamos-tu-compra, .paga-como-quieras, .compra-con-seguridad {
        padding: 5vw 3vw;
    }

    .icon-truck {
        font-size: 2vw;
    }
    
    .copy-header h6 {
        font-size: 1.5vw;
    }
    
    .copy-header p {
        font-size: 1.25vw;
        color: #8F8F8F
    }

    /*------------------------*/

    .secciones {
        position: relative;
    }

    hr {
        position: absolute;
        bottom: 110px;
        visibility: hidden;
    }

    .main-section-div {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .main-section-product {
        width: 24%;
        height: 24vw;
        margin: 0.25vw;
        /* border: none; */
    }

    .form-submit {
        visibility: hidden;
    }

    .glass {
        visibility: initial;
    }

}