* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative; 
    text-align: center;
}

body img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container-btn {
    position: absolute;
    top: 1000px;
    left: 40%;
    z-index: 10;
}

body a {
    background-color: black;
    color: white;
    font-size: 25px;
    text-decoration: none;
    max-height: 80%;
}

