* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    text-align: center;
}

body img {
    width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50vw;
    z-index: 10;
}

.container-btn a {
    background-color: black;
    color: white;
    font-size: 2vw;
    margin: 0.75vw;
    text-decoration: none;
    max-height: 80%;
    border-radius: 5px;
}

.container-btn p {
    margin: 0.6vw;
}

@media (min-width: 1400px) {
    .container-btn {
        top: 43vw;
    }
}