* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Vista Movile----------*/

body {
    font-family: 'Montserrat','Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #FFF; 
    position: relative;
}

h1 {
    display: none;
}

/*----------Header----------*/

header {
    padding: 2vw;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.main-header {
    display: flex;
}

.main-hamburguer, .main-buscar-carrito {
    display: flex;
    width: 20%;
    height: 10vw;
    font-size: 4vw;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;  
}

.main-hamburguer a, .main-buscar-carrito a{
    color: #000000;
}

.main-hamburguer p {
    font-size: 3vw;
    color: #ADB2B5;
    margin: 0.5vw;
}

.main-buscar-carrito a {
    margin-right: 2vw;
}

.main-logo {
    width: 50%;
    margin: auto;
    /* border: solid; */
}

.main-logo img {
    width: 100%;
}

.main-buscar-carrito p, .main-navbar .li-buscar {
    display: none!important;
}

.main-navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    z-index: 30;
}

.main-navbar ul {
    background-color: #FFFFFF;
}

.main-navbar .btn {
    display: flex;
    justify-content: flex-end;
}

.main-navbar li {
    list-style: none;
    margin: 10px;
    border-bottom: solid 1px lightgray;
    height: 30px;
}

.main-navbar a {
    text-decoration: none;
    color: #000000;
}

.main-navbar .btn-cerrar {
    background-color: white;
    border: none;
    font-weight: 900;
}

.main-navbar .despliega a {
    margin: 18px;
}

/*---------Main-------*/
main{
    background-color:#FFFFFF;
    padding-top: 14vw;
}

.ruta-login {
    margin: 20px auto;
    text-align: center;
}

.ruta-login, .ruta-login a {
    text-decoration: none;
    color: #ADB2B5;
}

.ruta-login p {
    display: inline-block;
    font-weight: bold;
    color: #8f8f8f;
}

/*------Detalles del Producto-----*/

main .imagen-producto{
    display: block;
    margin:0px auto;
    border: solid #ADB2B5 1px;
    width: 45%;
    height: 20%;
}

main .info-producto-principal {
    width: 75%;
    margin: auto;
}

main .cuotas p, main .cuotas b, main .medios-de-pago {
    font-size: 2.4vw;
}

main .nombre-producto{
    font-weight: normal;
    padding-bottom: 5px;
    font-size: 3.5vw;
}

main .precio-producto{
    padding-bottom:3px;
    font-size: 3vw;
}

main .separador {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 15px 20px 15px 20px;
    border-top: #ADB2B5 solid 0.5px;
    border-bottom: #ADB2B5 solid 0.5px;
    flex-direction: column;
}

main .cuotas{
    margin: 10px;
    padding: 10px;
    border: #ADB2B5 1px solid;
}

main .medios-de-pago{
    display:block;
    color: #000000;
    margin-top: 20px;
    margin-bottom:20px;
}

main .cantidad{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 1.2vw 0;
    align-items: center;
    width: 100%;
}

main .cantidad p {
    font-size: 2.4vw;
}
    
main .formulario{
    margin-left: 10px;
    height: 3.2vw;
    width: 10%;
    display: flex;
    align-items: center;
}

main .formulario input {
    height: 100%;
    width: 95%;
    font-size: 2vw;
    padding-left: 5px;
}

main .contenedor-compra{
    text-align: center;
    display: flex ;
    justify-content: center; 
    padding-top: 10px;
    margin: 20px 15px 20px 15px;
    padding-bottom: 10px;
    border-top: #ADB2B5 solid 0.5px;
    border-bottom: #ADB2B5 solid 0.5px;
}

main div .boton-carrito{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 7.5vw;
    background-color: #000000;
    color: #FFFFFF;
    font-weight:500;
    font-size: 3.5vw;
    text-transform: uppercase;
    transition: all 3s;
    border: none
}   

.boton-carrito:hover{
    color:#000000;
    background-color:#FFFFFF;
}

/*----------Otros Productos------*/
.main-section-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    margin: 0.5em;
    text-align: center;
    color: #000000;
}

section img {
    width: 100%;
    max-height: 100%;
}

.main-section-product {
    width: 50%;
    height: 70vw;
    background-color: white;
    padding-bottom: 30px;
    /* margin: 10px 0; */
    position: relative;
    border: solid 0.5px;
}

.main-section-img {
    height: 82%;
    display: flex;
    align-items: center;
}

.main-section-info {
    display: flex;
    border-top: #ADB2B5 solid 0.5px;
    padding-top: 20px;
    margin: 0px 5px;
    flex-wrap: wrap;
}

.informacion-precio-descuento {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0.5em;
}

section .precio-con-descuento {
    font-size: 12px;
    font-weight: bold;
}

.section-h3 h3 {
    font-size: 12px;
    font-weight: 300;
    margin-left: 0.5em;
}

/*--------Ver Más------*/
.ver-mas{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}

main section .ver-mas .link-home{
    color:#FFF;
    padding: 5%;
    background-color: #8F8F8F;
    width: 50%;
    text-decoration: none;
    border-radius: 100%;
}   
/* --------Footer------*/

footer {
    font-family: 'Roboto';
    background-color: #000000;
    color: #FFFFFF;
    margin: 2vw;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-footer {
    margin: 2vW;
}

.footer-navegacion {
    display: flex;
    flex-wrap: wrap;
}

footer h4 {
    width: 100%;
    padding: 5px 0px;
}

footer ul {
    padding: 10px;
}

footer li {
    padding: 5px 0px;
}

.footer-navegacion ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-navegacion li{
    width: 40%;
}

.footer-contactenos i {
    width: 30px;
}

.footer-redesSociales ul {
    display: flex;
}

.footer-redesSociales li {
    font-size: xx-large;
    margin-right: 15px;
}

.footer-redesSociales i {
    width: 100%;
}

footer h5 {
    display: flex;
    margin: 8px;
    text-align: left;
    justify-content: flex-start;
    color: #c3c6c8;
}

.main-section-product {
    width: 33%;
    height: 45vw;
}

.informacion-precio-descuento i{
    top: 34vw;
    left: 24vw;
}

@media (min-width: 768px)  {

    /*----------Vista Tablet----------*/

    body {
        background-color: #FFFFFF;
    }

    main {
        width: 95%;
        margin: auto;
        padding: 14vw 2vw 2vw;
    }

    /*--------------------*/

    /*----------MAIN----------*/
    main div .boton-carrito{
        width: 70%;
        height: 50px;
        font-size: larger;
    }   
    
    /*-------OTROS PRODUCTOS----------*/
    
    .main-section-div {
        margin-bottom: 60px;
    }

    section h2 {
        font-size: 35px;
        margin: 0.5em;
        text-align: center;
        color: #000000;
    }
    
    section .precio-con-descuento {
        font-size: 18px;
        font-weight: bold;
    }
    
    .section-h3 h3 {
        font-size: 16px;
        font-weight: 300;
        margin-left: 0.5em;
    }
    
    /*--------Ver Más------*/
    .ver-mas{
        margin-top:40px;
        margin-bottom: 50px;
    }
    /*----------Footer----------*/

    footer {
        margin: 0;
    }

    .main-footer {
        display: flex;
        justify-content: center;
        margin: 2vw 2vw 0 10vw;
    }

    .footer-navegacion, .footer-contactenos, .footer-redesSociales {
        margin: 0px 3vw;
        width: 30%;
    }

    .footer-contactenos {
        width: 40%;
        margin: 0px 3vw;
    }

    .main-footer ul {
        padding: 0;
    }

    footer h4 {
        width: 75%;
    }

    .footer-navegacion ul {
        flex-direction: column;
    }

    .footer-navegacion li {
        width: 100%;
    }

    .copyright {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1023px) {

    /*----------Vista Desktop----------*/

    /*----------Header----------*/

    header {
        padding: 0px 2vw;
    }

    main {
        padding-top: 9vw;
        width: 90%;
    }
    
    .main-hamburguer {
        display: none;
    }

    .main-header {
        justify-content: space-between;
    }

    .main-logo {
        width: 30%;
        margin-left: 0px;
    }

    .main-buscar-carrito .fa-magnifying-glass {
        display: none;
    }

    /*------------------------*/

    .main-navbar, .main-navbar li, .main-navbar a {
        all: unset;
    }

    .main-buscar-carrito p, .main-navbar .li-buscar {
        display: flex!important;
    }

    .main-navbar .btn, .main-navbar .despliega {
        display: none;
    }

    .main-navbar {
        display: flex!important;
        height: 4vw;
        position: relative;
        border: solid #000000;
    }
    
    .main-buscar-carrito p{
        display: initial;
        font-size: 1.3vw;
    }

    .main-buscar-carrito p a {
        margin-left: 2vw;
        text-decoration: none;
    }

    .main-buscar-carrito {
        width: 40%;
        height: 5vw;
        align-items: center;
    }

    .main-buscar-carrito i {
        font-size: 2.5vw;
        padding: 2vw 0px;
    }

    .main-navbar ul {
        list-style: none;
        display: flex;
        align-items: center;
        background-color: #000000;
        width: 100%;
        justify-content: space-between;
    }

    .main-navbar a {
        margin: 15px 5px;
        font-size: 1.3vw;
        color: #c3c6c8;
        text-decoration: none;
    }

    .main-navbar li {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 5px;
    }

    .main-navbar .li-hover:hover {
        border-top: #c3c6c8 solid;
        border-bottom: #c3c6c8 solid;
        cursor: pointer;
    }

    header form {
        height: 75%;
    }

    .div-form-buscar-productos {
        display: flex;
        background-color: white;
        border: solid #000000 2px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0px 10px;
    }

    .div-form-buscar-productos label {
        display: flex;
        align-items: center;
        width: 95%;
    }
    
    .div-form-buscar-productos i {
        position: absolute;
        right: 0.8vw;
        top: 1.2vh;
        color: lightgrey;
    }

    .buscar-productos {
        border: none;
        width: 90%;
        height: 100%;
        outline: none;
    }

    .div-form-buscar-productos:focus-within {
        position: absolute;
        width: 45%;
        max-height: 3vw;
        /* top: 5px; */
        right: 5px;
    }

    .buscar-productos:focus {
        border: none;
    }

    /*----------Main----------*/
  
    /*---------Detalles del Producto*/
    main .produto-principal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .imagen-producto{
        width: 35%;
        height: 20%;
        border: solid #ADB2B5 1px;
        margin: 0px 0px 0px 12px;
    }

    main .info-producto-principal {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    main .cuotas p, main .cuotas b, main .medios-de-pago {
        font-size: 1.4vw;
    }
  
    main .produto-principal .info-producto{
        width:100%;
    }

    main .nombre-producto{
        font-weight: normal;
        width: 60%;
        margin: 0px 0px 0px 1.2vw;
        text-align: left;
        font-size: 2.5vw;
    }
    
    main .precio-producto{
        margin: 0px 0px 0px 1.2vw;
        font-size: 2vw;
        text-align: left;
    }

    main .separador {
        margin: 0.5vw 0px 0px 1.5vw;
        align-items: center;
        width: 100%;
    }

    main .cantidad p {
        font-size: 1.4vw;
    }

    main .cuotas{
        margin: 1vw;
        padding: 1vw;
        width: 60%;
    }
      
    main .medios-de-pago{
        margin: 0 0 1vw;
    }

    main .formulario{
        height: 2.2vw;
    }
    
    main .formulario input {
        font-size: 1vw;
    }
      
    main .contenedor-compra{
        padding: 1.2vw 0;
        margin: 0 0 0 1.5vw;
        width: 100%;
    }
        
    /*----------Otros Productos------*/
    .main-section-div {
        display: flex;
        flex-wrap: wrap;
        margin: 1vw auto 6vw;
        width: 80%;
    }

    main .otros-productos{
        margin: 60px 0 0;
        font-size: 2vw;
    }

    .main-section-product {
        height: 40vw;
    }

    section h2 {
        font-size: 40px;
        margin: 0.5em;
        text-align: center;
        color: #000000;
    }

    section .precio-con-descuento {
        font-size: 25px;
        font-weight: bold;
    }
    
    .section-h3 h3 {
        text-align: left;
        display: block;
        font-size: 20px;
        font-weight: 300;
    }

    main section .ver-mas .link-home {
        padding: 3%;
    }
}