<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {variant:'/css/register.css'}) %>
  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <main>
      <!-- ----------------AGREGAR CODIGO NUEVO---------------- -->
      <form class="form" action="/products/create" method="post" enctype="multipart/form-data">
        <div class="ruta-login">
          <a href="/">Inicio</a>/<p>Crear Producto</p>
        </div>
        <!-- <h2 class="form_title">Optica Riff</h2>  -->
        <div class="form_conteiner">
          <div class="form_group">
            <input required type="text" class="form_input" id="nameProduct" name="nameProduct" placeholder=" "/> 
            <label for="nameProduct" class="form_label">Nombre del Producto:</label>
          </div>
          <div class="form_group">
            <textarea class="form_input form_textArea" id="descriptionProduct" rows="1" name="descriptionProduct" placeholder=" "></textarea>
            <label for="descriptionProduct" class="form_label">Descripción:</label>
          </div>
          <div class="form_group">
            <select name="categoryProduct" id="categoryProduct" class="form_input form_select" value="SELECCIONE UNA CATEGORIA">
              <option value="lentesSol">ANTEOJOS PARA SOL</option>
              <option value="lentesRecetados">ANTEOJOS RECETADOS</option>
              <option value="lentesContacto">LENTES DE CONTACTO</option>
              <option value="accesorios">ACCESORIOS</option>
            </select>
            <label for="categoryProduct" class="form_label">Categoria:</label>
          </div>
          <div class="form_group">
            <input required accept=".png, .jpeg, .jpg" type="file" class="form_input form_input_file" id="imageProduct" name="imageProduct" placeholder=" "/> 
            <label for="imageProduct" class="form_label">Imagen:</label>
            <div class="form_input">
              <label for="imageProduct" class="form_imageFile">
                <i class="fa-solid fa-image"></i>
                <p>Elegir Imagen</p>
              </label>
            </div>
          </div>
          <div class="form_group">
            <input required type="text" class="form_input" id="trademarkProduct" name="trademarkProduct" placeholder=" "/> 
            <label for="trademarkProduct" class="form_label">Marca:</label>
          </div>
          <div class="form_group">
            <input required step="0.01" type="number" class="form_input" id="priceProduct" name="priceProduct" placeholder=" "/> 
            <label for="priceProduct" class="form_label">Precio:</label>
          </div>
          <div class="form_group">
            <input required type="number" class="form_input" id="discount" name="discount" placeholder=" " max="100" min="0"/> 
            <label for="discount" class="form_label">Descuento:</label>
          </div>
          <div>
            <input type="submit" class="form_submit" value="ACEPTAR" />
          </div>
        </div>
      </form>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
<script src="/js/function.js"></script>
</html>
